@import "tailwindcss";

:root {
  --font-sans: var(--font-inter), system-ui, sans-serif;
  --color-brand: #6331F4;
  --color-brand-mid: #A38DFB;
  --color-brand-light: #E2DBFF;
  --color-bg: #F5F3FF;
}

@theme inline {
  --font-sans: var(--font-inter), system-ui, sans-serif;
  --color-brand: #6331F4;
  --color-brand-mid: #A38DFB;
  --color-brand-light: #E2DBFF;
}

* {
  border-radius: 0 !important;
}

body {
  font-family: var(--font-sans);
  background: var(--color-bg);
  color: #0f0f0f;
}
